* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("misc/mountainBackground.jpeg");

  background-position: center top;
  height: 100%;
}

.panel {
  width: 40rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-panel {
  background-color: skyblue;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("conditions/clear-night.jpg");
  font-size: 2rem;
  color: white;
}

.hidden {
  display: none;
}

.location,
.hi-low,
.date,
.weather {
  display: flex;
  width: 100%;
}

.hi-low {
  justify-content: flex-end;
}

.weather {
  display: flex;
  flex-flow: column wrap;
}

.temp {
  font-size: 5rem;
  font-weight: bold;
}

.condition {
  font-size: 2rem;
}

.bottom-row {
  display: flex;
  flex-direction: row;
}

.location-icon {
  height: 2rem;
}

.location-icon:hover {
  cursor: pointer;
}

.condition-image {
  min-width: 100px;
  max-width: 100px;
}

.future-hours {
  background-color: lightslategray;
}

.conditions > p {
  text-align: center;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 179, 179);
  height: 12rem;
  width: 8rem;
}

.hour,
.day {
  margin-top: 2rem;
}
.card > p {
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.future-days {
  background-color: lightslategray;
}

.conditions {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 100;
}

.future-condition {
  width: 50%;
}

.hour-cards,
.day-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 3rem;
}

.change-units {
  margin-left: 30rem;
  margin-bottom: 1rem;
}

.change-location {
  height: 5rem;
  width: 20rem;
  margin-top: 2.5rem;
}

.change-days {
  top: 1rem;
  right: 1rem;
}

.change-hours {
  top: 1rem;
  right: 1rem;
}

.overlay {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(9, 8, 27, 0.75);
  height: 100%;
  width: 100%;
}

.overlay-hidden {
  display: none;
}

.close {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.search-bar {
  height: 5rem;
  width: 20rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.city-result {
  color: white;
  font-size: 2rem;
}

.no-result {
  color: white;
  font-size: 2rem;
}

.city-result:hover {
  color: lightblue;
  cursor: pointer;
}

.coordinate-result {
  color: aqua;
  font-size: 2rem;
  visibility: hidden;
}

.dummy > p {
  color: white;
  font-size: 5rem;
}

.dummy {
  display: none;
}
